* {
	margin: 0;
	padding: 0;
}

/* Creators */
.title1 {
	height: 70px;
	color: white;
	background: #050404;
	text-align: center;
	font-weight: 600;
	font-size: 3.6em;
	font-family: cursive;
	padding: 0px 50px 80px 5px;
}

.header {
	display: flex;
	justify-content: center;
	background-size: cover;
	overflow-x: none;
	font-family: cursive;
	background-color: #060607;
	padding: 4px;
}

.ml11 {
	display: flex;
	justify-content: center !important;
	flex-wrap: wrap;
	font-weight: 700;
	font-size: 3.8em;
	color: #f8f9fa;
}

.thanks {
	background: #161616;
	text-align: center;
	color: white;
	font-size: 18px;
	line-height: 30px;
}

/* mnnit image */
.mnnit {
	background: #161616;
}

.mnnit img {
	width: 100%;
	transform: scale(1.0);
}

/* thanks */
.depthead {
	display: flex !important;
	justify-content: center;
	background-size: cover;
	overflow-x: none;
	background-color: #001e2d;
	padding: 10px 0 10px 0;
	margin-top: -35px;
}

.deptfont {
	display: flex;
	justify-content: center !important;
	flex-wrap: wrap;
	font-weight: 400;
	font-size: 2.6em;
	font-family: cursive;
	color: #f8f9fa;
}

/* Cards */
.container1,
.body {
	display: flex;
	background-color: #103a4f;
	z-index: 1;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: -33px;
}

.container1 .card {
	position: relative;
	width: 205px;
	height: 320px;
	background-color: #0b2c3d;
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container1 .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container1 .card:hover .content {
	transform: translateY(-18px);
}

.container1 .card .content .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.container1 .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 15px;
	width: 80%;
	height: 100%;
}

.container1 .card .content .contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 15px;
	line-height: 1.1em;
}

.container1 .card .content .contentBx h3 span {
	font-size: 14px;
	font-weight: 300;
	text-transform: initial;
}

.container1 .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
}

.container1 .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(70px);
	transition: 0.5s;
	opacity: 0;
}

.container1 .card:hover .sci li {
	transform: translateY(45px);
	opacity: 1;
}

.container1 .card .sci li a {
	color: #fff;
	font-size: 20px;
}

/* Social media icons */
.fa {
	padding: 10px;
	font-size: 10px;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.9;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-instagram {
	background: rgb(83, 18, 18);
	color: white;
}

/* Footer */

.footer {
	background-color: #001e2d;
}

.logo :hover {
	transform: scale(1.2);
	transition-duration: 0.5s;
}

.pad {
	padding: 5px;
}

/* Responsive */
@media screen and (max-width: 700px) {
	.depthead {

		font-size: 0.8em;
	}
	.header {
		font-size: 0.8em;
	}

}

@media screen and (max-width: 500px) {
	.depthead {
		font-size: 0.6em;
		padding: 10px;
	}

	.header {

		font-size: 0.6em;
		padding: 10px;
	}

	.mnnit img {
		height: 180px;
	}

	.container1 .card {

		width: 150px;
		height: 260px;
		margin: 10px;

	}


	.container1 .card .content .imgBx {

		width: 120px;
		height: 120px;

	}

	.container1 .card .content .contentBx h3 {

		letter-spacing: 2px;
		font-weight: 500;
		font-size: 16px;
	}

	.container1 .card .content .contentBx h3 span {

		margin: 5px;
	}
}